
/*  Classes Alphabetically */

.button {
  font-weight: bold;
  padding: .5em;
  text-align: center;
  border-radius: 25px;
  border-color: #003D6B;
  background-image: linear-gradient(to bottom right, #C0C0C0, #FFFFFF, #C0C0C0 );
  color: #003D6B;
  text-transform: uppercase;
}

.button:hover {
  background-image: none;
  border-color: white;
  background: #003D6B;
  color: white;
}

.chr_nav_table {
  padding: 4%;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  border-radius: 25px;
  background: #C0C0C0;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 25px;
  border-color: #003D6B;
  border-style: outset;
  border-width: 5px;
  color: #003D6B;
}

.hover-content {
    display: none;
    position: absolute;
    background-image: linear-gradient( #C0C0C0 40%, #FFFFFF );
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 25px;
    border-width: thin;
    border-style: solid;
    border-color: #003D6B;
    color: #003D6B;
    padding: 7px;
}

.hover-content a {
    color: #003D6B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu_link:hover {
  color: white;
  background-color: #003D6B;
  border-radius: 25px;
  text-decoration: underline;
}

.nav {
  padding: 1em;
  margin: -1em;
  margin-left: 1em;
  width: 15em;
  text-align: center;
  text-decoration: underline;
  border-radius: 25px;
  background: #C0C0C0;
  background-repeat: no-repeat;
  background-size: contain;
  border-color: #003D6B;
  color: #003D6B;
}

.nav_input {
  background: #003D68;
  color: #FFFFFF;
  border-radius: 5px;
  padding: .5em;
}

.nav_input::placeholder {
  color: #F0F0F0;
  font-style: italic;
}

.nav_dropdown {
  background: #003D68;
  color: #FFFFFF;
  padding: .5em;
}

.nav:hover {
  width: 15em;
  text-align: center;
  border-color: #C0C0C0;
  background: #003D6B;
  color: white;
}

.nav_menu {
  color: #003D6B;
}

.nav_table {
  padding: 1%;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  border-radius: 25px;
  background: #C0C0C0;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 25px;
  border-color: #003D6B;
  border-style: outset;
  border-width: 5px;
  color: #003D6B;
}

.nav_table_button {
  padding: 1%;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  border-radius: 25px;
  background: #C0C0C0;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 25px;
  border-color: #003D6B;
  border-style: outset;
  border-width: 5px;
  color: #003D6B;
}

.nav_table_button:hover {
  color: white;
  text-decoration: none;
  background: #003D6B;
  border-color: white;
  text-transform: uppercase;
}

.progress-label {
  position: absolute;
  left: 50%;
  top: 4px;
  font-weight: bold;
  color: #FFFFFF;
}

.table {
  position: relative;
  top: -1.62em;
  right: 1.25em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  max-width: 80%;
  text-align: left;
  border-radius: 25px;
  background: #C0C0C0;
  color: #003D6B;
  border-color: #003D6B;
  border-width: thick;
  border-style: inset;
}


.titlebar {
  position: relative;
  padding-right: 1em;
  text-align: center;
  border-radius: 25px;
  border-top-left-radius: 8px;
  border-color: #003D6B;
  border-style: outset;
  border-width: 5px;
  border-top-width: 1px;
  background-image: linear-gradient( #C0C0C0 40%, #FFFFFF );
  color: #003D6B;
  font-size: 300%;
  width: 100%;
}

.ui-accordion {
  border-radius: 25px;
}

.ui-accordion-content {
  background-image: linear-gradient( #C0C0C0 40%, #FFFFFF );
  color: #003D6B;
  border-color: #003D6B;
  border-style: outset;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right-width: 5px;
  border-left-width: 5px;
}

.ui-accordion-header {
  background-image: linear-gradient( #C0C0C0 40%, #FFFFFF );
  color: #003D6B;
  border-color: #003D6B;
  border-style: outset;
  border-radius: 5px;
  border-right-width: 5px;
  border-left-width: 5px;
}

.ui-accordion-header:hover {
  background-color: #003d6b;
  background-image: none;
  color: #FFFFFF;
  border-color: #c0c0c0;
  border-style: outset;
  border-radius: 5px;
  text-decoration: underline;
  border-right-width: 5px;
  border-left-width: 5px;
}

.ui-accordion-header-active {
  background: #003D6B;
  color: #FFFFFF;
  border-color: #C0C0C0;
  border-style: outset;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-right-width: 5px;
  border-left-width: 5px;
}

.ui-accordion-header-active:hover {
  background: #003D6B;
  color: #FFFFFF;
  border-color: #C0C0C0;
  border-style: outset;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-right-width: 5px;
  border-left-width: 5px;
}

.ui-accordion-header-icon-active {
  color: #FFFFFF;
}

.ui-progressbar {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border-radius: 25px;
  background: #C0C0C0;
}

.ui-progressbar-value {
  background-image: linear-gradient( #003D6B , #225E8A , #003D68 );
}

.ui-progressbar-complete {
  background: #000000;
  border-color: #003D68;
  border-style: outset;
}

.ui-progressbar-value-complete {
  color: #C0C0C0;
}


.ui-tabs {
  position: relative;
  text-align: center;
  border-color: #003D6B;
  background: transparent;
  width: 80%;
}

.ui-tabs  .ui-state-default {
  background-image: linear-gradient( #FFFFFF 10% , #C0C0C0 );

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-color: #003D6B;
  border-bottom-color: #C0C0C0;
  border-width: 5px;
}


.ui-tabs  .ui-tabs-active {
  background-image: linear-gradient(  #000000 10%, #C0C0C0  );
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-color: #003D6B;
  border-bottom-color: #C0C0C0;
  border-width: 5px;
}

.ui-tabs-nav {
  background: transparent;
  border: 0px;
}

.ui-tabs-tab{
  background-color: #003D68;
  border-color: #003D68;
}

.ui-tabs-panel{
  border-color: #003D68;
}

.upload {
  background-image: radial-gradient(circle, #C0C0C0, #003D6B, #000000);
  color: white;
  border-radius: 25px;
}


/* Elements Alphabetically */

a {
  color: #003D6B;
}

a:visted {
  color: #003D6B;
}



